@charset "utf-8";

body,h1,h2,h3,h4,h5,h6,p,dl,dd{
    margin: 0;
}
ul, ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
img{
    border: 0;
    vertical-align: top;
}
a{
    text-decoration: none;
}
mark{
    background: none;
}
/* w伪类清除浮动*/
.clearfloat::after{
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}